In [1]:
a = 1
print(a)

1

In [2]:
a = 1
print(a)

1

In [3]:
#  Q1. Create one variable containing following type of data:
#   (i) string
#   (ii) list
#   (iii) float
#   (iv) tuple 

a = "Gourav"
b = [1,2,3,a,(3+9j)]
c = 19.23
d = (1.0, 9.9, 10)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [8]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.

# What will be the data type of the above given variable.

var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [14]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

# (i) use of "/" operator for division

a = 5
b = 10
print ("division = ",b/a)

# (ii) use of "%" operator for getting the remainder of a division

print("remainder = ",3%2)

# (iii) use of "//" operator for getting the value of quotient

print("quotient = ", 5//2)

# (iv) use of "**" for power operation
a = 10
print(a**2)

division =  2.0
remainder =  1
quotient =  2
100

In [15]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

l = [1,5,6,4,(3+7j),"Gourav",12.9,"a",3]
for i in range(0,9):
    print("element =",l[i])
    print("type =",type(l[i]))
else:
    print("end")

element = 1
type = <class 'int'>
element = 5
type = <class 'int'>
element = 6
type = <class 'int'>
element = 4
type = <class 'int'>
element = (3+7j)
type = <class 'complex'>
element = Gourav
type = <class 'str'>
element = 12.9
type = <class 'float'>
element = a
type = <class 'str'>
element = 3
type = <class 'int'>
end

In [ ]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.